@model visualteste.Models.Automovel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Automovel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proprietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proprietario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_lancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_lancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero_de_portas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero_de_portas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.avariacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.avariacoes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
